# Normalize line endings
* text=auto

# Docker files
Dockerfile export-ignore
docker-compose.yml export-ignore

# CI/CD files
.github/ export-ignore

# Development files
tests/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpunit.cache/ export-ignore
.phpunit.result.cache export-ignore
phpunit.xml export-ignore

# Documentation
README.md export-ignore
LICENSE export-ignore

rector.php export-ignore